.Btn {
    font-weight: 500;
    padding: 5px 15px;
    font-size: 14px;
    background-color: white;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid lightgray;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%),
    0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
}

.Btn:active,
.Btn:hover {
    transition: 0.2s ease-in-out;
    background-color: #eee;
}
