.Btn {
    padding: 5px 15px;
    color: white;
    font-size: 14px;
    background: teal;
    border: 1px solid white;
    border-radius: 6px;
    cursor: pointer;
}

.Btn:active,
.Btn:hover {
    transition: 0.2s ease-in-out;
    background-color: white;
    color: teal;
}
